@use "global" as *;

.quantity-picker {
  @include flex-space-between;

  .option-fieldset {
    display: inline-block;
  }

  button {
    @include reset-input;
    width: $line-global;
    text-align: center;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover {
      color: $black;
    }
  }
}
